DATABASE_URL="postgresql://<usuario>:<senha>@<host>:<porta>/<nome_do_banco>"

# Você pode gerar uma chave secreta forte usando o comando abaixo:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET="minha_chave_supersecreta"   